.about-feed {
  padding-top: 10px;
  padding-bottom: 46px;
}

.about-feed__title {
  margin-bottom: 30px;
}

.about-feed__list {
  @include reset-list;
}

.about-feed__item {
  position: relative;
  padding-left: 80px;
  margin-top: 26px;

  &:first-child {
    margin-top: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $decoration-color;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--substance::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--water::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--food::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--time::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .about-feed__item {
    &::before {
      background-size: 83%;
    }

    &--substance::before {
      background-image: url("../img/advantage-leaf@2x.png");
    }

    &--water::before {
      background-image: url("../img/advantage-powder@2x.png");
    }

    &--food::before {
      background-image: url("../img/advantage-dining@2x.png");
    }

    &--time::before {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

@media (min-width: $tablet-width) {
  .about-feed {
    padding-top: 23px;
    padding-bottom: 52px;
    border-bottom: 1px solid $border-color--light;
  }

  .about-feed__title {
    margin-bottom: 74px;
  }

  .about-feed__list {
    display: flex;
    flex-wrap: wrap;
    counter-reset: section;
  }

  .about-feed__item {
    counter-increment: section;
    max-width: 246px;
    width: 100%;
    min-height: 231px;
    padding-left: 0;
    margin-right: 138px;
    margin-top: 0;

    &:nth-of-type(2n) {
      margin-right: 0;
    }

    &:nth-of-type(n + 3) {
      margin-top: 87px;
    }

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      content: counter(section);
      position: absolute;
      top: 0;
      right: 0;
      width: 130px;
      color: $text-color--lighter;
      font-size: 281px;
      line-height: 201px;
      z-index: -1;
    }
  }

  .about-feed__text {
    padding-top: 110px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .about-feed__item {
      &::before {
        background-size: 63%;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .about-feed {
    padding-top: 36px;
    padding-bottom: 36px;
    border-bottom: none;
  }

  .about-feed__item {
    margin-right: 78px;
    margin-top: 0;

    &:nth-of-type(2n) {
      margin-right: 78px;
    }

    &:nth-of-type(4n) {
      margin-right: 0;
    }

    &:nth-of-type(n + 3) {
      margin-top: 0;
    }

    &:nth-of-type(n + 5) {
      margin-top: 78px;
    }
  }
}
