.аdditional-catalog {
  padding-top: 28px;
  padding-bottom: 4px;
}

@media (min-width: $tablet-width) {
  .аdditional-catalog {
    padding-top: 31px;
    padding-bottom: 34px;
  }
}

@media (min-width: $desktop-width) {
  .аdditional-catalog {
    padding: 0;
  }
}
