.banner {
  padding-top: 27px;
  padding-bottom: 11px;
  background-image: url("../img/index-background-mobile@1x.jpg"),
    linear-gradient(to bottom, transparent 62.5%, $background-color--clean 62.5%),
    linear-gradient(to right, $background-color--green-first 62.5%, $background-color--green-second 62.5%);
  background-position: center top;
  background-repeat: no-repeat;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .banner {
    background-image: url("../img/index-background-mobile@2x.jpg"),
      linear-gradient(to bottom, transparent 62.5%, $background-color--clean 62.5%),
      linear-gradient(to right, $background-color--green-first 62.5%, $background-color--green-second 62.5%);
    background-size: 59.3%, 100%, 100%;
  }
}

.banner__title {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 36px;
  color: $text-color--dark-side;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.banner__slogan {
  margin-bottom: 28px;
  line-height: 14px;
  color: $text-color--dark-side;
  text-align: center;
  text-transform: uppercase;
}

.banner__feed-image {
  display: block;
  width: 280px;
  height: 270px;
  margin-bottom: 3px;
}

@media (min-width: $tablet-width) {
  .banner {
    padding-top: 48px;
    padding-bottom: 0;
    background-image: none;
    background-color: $background-color--clean;
  }

  .banner__title {
    max-width: 415px;
    margin-left: 87px;
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: $text-color--light-side;
    text-align: left;
  }

  .banner__slogan {
    margin-left: 88px;
    margin-bottom: 47px;
    font-size: 20px;
    line-height: 20px;
    color: $text-color--light-side;
    text-align: left;
  }

  .banner__content-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .banner__feed-image {
    width: 709px;
    height: 609px;
    margin-top: -79px;
    margin-bottom: 0;
    z-index: 2;
  }

  .banner__btn {
    max-width: 245px;
    margin-left: 88px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 20px;
    z-index: 5;
  }
}

@media (min-width: $desktop-width) {
  .banner {
    padding-top: 28px;
    padding-bottom: 94px;
    background-color: transparent;
  }

  .banner__title {
    margin-top: 59px;
    margin-left: 81px;
  }

  .banner__slogan {
    margin-bottom: 53px;
    margin-left: 80px;
  }

  .banner__content-wrapper {
    min-height: auto;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }

  .banner__feed-image {
    position: static;
    width: 552px;
    height: 499px;
    margin-top: -313px;
    margin-right: 219px;
  }

  .banner__btn {
    margin-left: 80px;
  }
}
