.banner {
  padding-bottom: 11px;
}

.banner__inner {
  padding-top: 29px;
  padding-bottom: 167px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $background-color--green-image;
}

.banner__title {
  font-size: 36px;
  color: $text-color--dark-side;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
}

.banner__slogan {
  line-height: 14px;
  color: $text-color--dark-side;
  text-align: center;
  text-transform: uppercase;
}

.banner__feed-image {
  width: 280px;
  height: 270px;
  margin-bottom: 3px;
}
