.сategories {
  padding-top: 11px;
  padding-bottom: 6px;
}

.сategories__list {
  @include reset-list;
}

.сategories__item {
  position: relative;
  padding: 30px 22px 19px 20px;
  margin-top: 20px;
  background-color: $background-color;

  &:first-child {
    margin-top: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 22px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $decoration-color;
  }
}

.сategories__ico {
  position: absolute;

  &--slim {
    top: 22px;
    left: 30px;
    width: 35px;
    height: 49px;
  }

  &--mass {
    top: 35px;
    left: 13px;
    width: 67px;
    height: 28px;
  }
}

.сategories__title {
  padding-left: 71px;
  margin: 0;
  margin-bottom: 29px;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
}

.сategories__text {
  padding-right: 8px;
  border-bottom: 1px solid $border-color--dark;
  padding-bottom: 23px;
}

.сategories__link {
  display: inline-block;
  position: relative;
  max-width: max-content;
  padding-top: 20px;
  margin-right: 60px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $text-color--light-side;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }
}

.сategories__link-arrow {
  position: absolute;
  top: 21px;
  left: calc(100% + 11px);
  width: 25px;
  height: 12px;
}

@media (min-width: $tablet-width) {
  .сategories {
    padding-top: 0;
    padding-bottom: 22px;
  }

  .сategories__item {
    padding-top: 76px;
    padding-bottom: 58px;
    padding-left: 52px;
    margin-top: 30px;

    &:first-child {
      margin-top: 0;
    }

    &::before {
      top: 92px;
      left: 446px;
      width: 200px;
      height: 200px;
    }
  }

  .сategories__ico {
    &--slim {
      top: 80px;
      left: 475px;
      width: 141px;
      height: 194px;
    }

    &--mass {
      top: 135px;
      left: 412px;
      width: 268px;
      height: 113px;
    }
  }

  .сategories__title {
    max-width: 390px;
    padding-left: 0;
    margin-bottom: 26px;
    font-size: 36px;
    line-height: 37px;
  }

  .сategories__text {
    border: none;
    max-width: 382px;
    margin-bottom: 32px;

    &--short {
      max-width: 350px;
    }
  }

  .сategories__link {
    padding-top: 0;
    border: none;
    font-size: 20px;
    line-height: 20px;
  }

  .сategories__link-arrow {
    top: 4px;
    left: calc(100% + 23px);
    width: 25px;
    height: 12px;
  }
}

@media (min-width: $desktop-width) {
  .сategories {
    padding-top: 40px;
    padding-bottom: 37px;
  }

  .сategories__list {
    display: flex;
    flex-wrap: wrap;
  }

  .сategories__item {
    width: 570px;
    min-height: 372px;
    padding-bottom: 58px;
    margin-right: 80px;
    margin-top: 0;

    &:nth-of-type(2n) {
      margin-right: 0;
    }

    &:not(:nth-of-type(1)):not(:nth-of-type(2)) {
      margin-top: 80px;
    }

    &::before {
      top: 47px;
      left: 52px;
      width: 100px;
      height: 100px;
    }
  }

  .сategories__ico {
    &--slim {
      top: 41px;
      left: 65px;
      width: 71px;
      height: 97px;
    }

    &--mass {
      top: 69px;
      left: 34px;
      width: 134px;
      height: 57px;
    }
  }

  .сategories__title {
    padding-left: 162px;
    margin-bottom: 74px;
  }

  .сategories__text {
    max-width: 475px;
    margin-bottom: 8px;
  }
}
