.company-link {
  padding-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:active {
    opacity: 0.3;
  }
}

.company-link__text {
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
}

.company-link__ico {
  width: 37px;
  height: 37px;
}

@media (min-width: $tablet-width) {
  .company-link {
    padding-top: 0;
  }

  .company-link__text {
    margin-right: 13px;
  }
}
