.company-link {
  padding-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:active {
    opacity: 0.3;
  }

  &:hover .company-link__ico {
    fill: $ico-color--hover;
  }
}

.company-link__text {
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
}

.company-link__ico {
  fill: $ico-color;
  width: 42px;
  height: 40px;
}

@media (min-width: $tablet-width) {
  .company-link {
    padding-top: 0;
    align-items: flex-start;
  }

  .company-link__text {
    margin-top: 11px;
    margin-right: 8px;
  }
}

@media (min-width: $desktop-width) {
  .company-link {
    padding-top: 5px;
  }
}
