.contacts {
  background-color: $background-color--clean;

  &--gray {
    background-color: $background-color;
  }
}

.contacts__text-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 29px;
  padding-bottom: 25px;
  z-index: 1;
}

.contacts__text {
  margin-top: 0;
  margin-right: 18px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 20px;
  color: $text-color--light-side;
  text-transform: uppercase;
}

.contacts__address {
  line-height: 20px;
}

.contacts__map {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 140px;
    left: 41%;
    width: 58px;
    height: 53px;
    background-image: url("../img/map-pin.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
  }
}

.contacts__map-image {
  display: block;
  position: relative;
  min-width: 320px;
  width: 100%;
  height: 363px;
}

@media (min-width: $tablet-width) {
  .contacts__text-wrapper {
    padding-top: 64px;
    padding-right: 42px;
    padding-bottom: 56px;
    padding-left: 41px;
  }

  .contacts__text {
    max-width: 154px;
    padding-bottom: 4px;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 155px;
    text-align: right;
  }

  .contacts__map {
    &::before {
      top: 147px;
      left: 42.8%;
      width: 113px;
      height: 106px;
    }
  }

  .contacts__map-image {
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__text-wrapper {
    position: absolute;
    top: 95px;
    max-width: 570px;
    width: 100%;
    padding-right: 90px;
    padding-left: 76px;
    background-color: $background-color--clean;
  }

  .contacts__address {
    text-align: left;
  }

  .contacts__map::before {
    top: 150px;
    left: 69.75%;
  }
}
