.cost {
  line-height: 14px;
}

.cost__name {
  max-width: 50%;
  margin-left: -4px;
}

.cost__price {
  text-align: right;
}

.cost__wrapper {
  display: flex;
  justify-content: space-between;
  min-width: 280px;
}

@media (min-width: $tablet-width) {
  .cost {
    font-size: 16px;
    line-height: 20px;
  }

  .cost__wrapper {
    min-width: auto;
    align-items: center;
  }

  .cost__name {
    max-width: none;
    min-width: 165px;
    padding-right: 20px;
    text-align: right;
  }

  .cost__price {
    max-width: 76px;
    min-width: 76px;
  }
}

@media (min-width: $desktop-width) {
  .cost__wrapper {
    min-width: 286px;
  }

  .cost__name {
    max-width: 220px;
    padding-left: 3px;
    padding-right: 0;
    text-align: left;
  }

  .cost__price {
    min-width: 45px;
    max-width: 46px;
    text-align: left;
  }
}
