.form__set {
  @include container;
  border: none;
  font-size: 16px;
  text-transform: uppercase;

  &--radio {
    @include container-reset;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 1px solid $border-color;
    margin-top: 13px;
    margin-bottom: 30px;
  }
}

.form__inner {
  @include container;
}

.form__field-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  &--ico {
    position: relative;
  }
}

.form__title {
  padding-right: 22px;
  margin-top: 18px;
  margin-bottom: 29px;
  text-transform: none;
}

.form__field-title {
  display: inline-block;
  position: relative;
  line-height: 18px;
  max-width: 150px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
  }

  &--castom {
    padding-left: 46px;
  }

  &--radio {
    min-width: 240px;
  }

  &--castom::before {
    border: 1px solid $border-color--silver;
  }

  &--radio::before {
    border-radius: 50%;
  }

  &--castom:hover::before {
    border-color: $border-color--silver-dark;
  }

  &--castom:active {
    opacity: 0.3;
  }
}

.form__program-radio {
  &:checked + .form__field-title::before {
    background-image: radial-gradient(circle, $check-color 5.5px, $background-color--clean 6.5px);
  }

  &:focus + .form__field-title--castom::before {
    border-color: $field-color--active;
    border-width: 2px;
  }
}

.form__additional-checkbox {
  &:focus + .form__field-title--castom::before {
    border-color: $field-color--active;
    border-width: 2px;
  }

  &:checked + .form__field-title::after {
    content: "";
    position: absolute;
    top: 42%;
    left: 10px;
    width: 11px;
    height: 20px;
    border-bottom: 2px solid $check-color;
    border-right: 2px solid $check-color;
    transform: translateY(-50%) rotate(44deg);
  }
}

.form__field {
  min-height: 46px;
  padding: 13px 14px;
  border: 1px solid $border-color;
  margin-left: 15px;
  text-transform: uppercase;
  flex-grow: 1;
  font-size: 16px;

  &--ico {
    padding-right: 40px;
  }

  &::placeholder {
    color: $placeholder-color;
  }

  &:hover {
    border-color: $border-color--silver;
  }

  &:active,
  &:focus,
  &--error {
    border-color: $field-color--active;
    padding: 12px 13px;
    border-width: 2px;
    outline: none;
  }

  &:active + .form__ico,
  &:focus + .form__ico {
    fill: $field-ico--active;
  }

  &--error:active + .form__ico,
  &--error:focus + .form__ico {
    fill: $field-ico--error;
  }

  &--ico:focus {
    padding-right: 40px;
  }

  &--error,
  &--error:hover,
  &--error:active,
  &--error:focus {
    border-color: $field-color--error;
  }

  &--error + .form__ico {
    fill: $field-ico--error;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .form__field {
    font-size: 13px;
  }
}

.form__contacts-wrapper .form__field {
  margin-left: 11px;
}

.form__ico {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &--email {
    right: 15px;
    width: 17px;
    height: 14px;
  }

  &--phone {
    right: 13px;
    width: 20px;
    height: 21px;
  }
}

.form__comment-field {
  width: 100%;
  height: 150px;
  resize: none;
  padding: 12px 13px;
  border: 1px solid $border-color;
  margin-top: 5px;
  margin-bottom: 26px;
  font-size: 16px;
  color: $text-color;

  &::placeholder {
    text-transform: uppercase;
    color: $placeholder-color;
  }

  &:hover {
    border-color: $border-color--silver;
  }

  &:focus {
    border-color: $field-color--active;
    outline: none;
    border-width: 2px;
    padding: 11px 12px;
  }
}

.form__checkbox-list {
  margin-top: 5px;
}

.form__send-wrapper {
  @include container;
}

.form__btn {
  border: none;
  margin-top: 30px;
  margin-bottom: 23px;
  letter-spacing: 0.8px;
}

.program__sub-text {
  line-height: 16px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .form {
    padding-right: 37px;
    padding-left: 40px;
  }

  .form__inner {
    @include container-reset;
  }

  .form__set {
    @include container-reset;

    &--radio {
      padding: 20px 0 18px 8px;
      margin-top: 61px;
      margin-bottom: 76px;
    }

    &:last-of-type .form__title {
      margin-bottom: 39px;
    }
  }

  .form__title {
    padding-right: 39px;
    padding-left: 40px;
    margin-top: 55px;
    margin-left: -40px;
    margin-bottom: 71px;

    br {
      display: none;
    }
  }

  .form__field-wrapper {
    margin-bottom: 20px;
  }

  .form__field {
    min-height: 52px;
    padding: 10px 17px;
    margin-left: 19px;
    font-size: 20px;
    line-height: 20px;

    &--ico {
      padding-right: 45px;
    }

    &:active,
    &:focus,
    &--error {
      padding: 9px 16px;
    }

    &--ico:focus {
      padding-right: 45px;
    }
  }

  .form__contacts-wrapper .form__field {
    margin-left: 19px;
  }

  .form__ico {
    &--email {
      right: 19px;
    }

    &--phone {
      right: 15px;
    }
  }

  .form__field-title {
    max-width: 250px;
    font-size: 20px;
    line-height: 20px;

    &::before {
      width: 40px;
      height: 40px;
    }

    &--castom {
      padding: 16px 25px;
      padding-left: 59px;
    }

    &--radio {
      min-width: 340px;
      padding-left: 79px;
    }

    &--radio::before {
      left: 20px;
    }
  }

  .form__program-radio {
    &:checked + .form__field-title::before {
      background-image: radial-gradient(circle, $check-color 8.5px, $background-color--clean 9.5px);
    }
  }

  .form__comment-field {
    height: 174px;
    padding: 15px 19px;
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 20px;

    &:focus {
      padding: 14px 18px;
    }
  }

  .form__checkbox-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 16px;
  }

  .form__checkbox-item {
    width: 40%;
    margin-bottom: 20px;
    margin-right: 92px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:last-child {
      margin-bottom: 20px;
    }
  }

  .form__additional-checkbox {
    &:checked + .form__field-title::after {
      left: 15px;
    }
  }

  .form__send-wrapper {
    @include container-reset;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .form__btn {
    max-width: 283px;
    height: 52px;
    margin-top: 3px;
    margin-bottom: 0;
    margin-right: 61px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0;
  }

  .program__sub-text {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding-right: 0;
    padding-left: 0;
  }

  .form__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .form__set {
    width: 100%;
    margin-bottom: 38px;

    &--radio {
      width: 570px;
      margin-top: 6px;
    }

    &:first-child {
      max-width: 50%;
      padding-right: 80px;
    }

    &:nth-child(2) {
      max-width: 50%;
    }
  }

  .form__title {
    margin-top: 0;
  }

  .form__field-title {
    &--checkbox {
      width: 215px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .form__additional-checkbox {
    &:checked + .form__field-title::after {
      top: 30%;
    }
  }

  .form__comment-field {
    margin-bottom: 24px;
  }

  .form__ico {
    &--phone {
      right: 18px;
    }
  }

  .form__contacts-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .form__field-wrapper {
    min-width: 570px;

    &:last-child {
      margin-bottom: 20px;
    }
  }

  .form__checkbox-list {
    margin-bottom: 0;
  }

  .form__checkbox-item {
    width: auto;
    min-width: 245px;
    margin-top: 17px;
    margin-right: 80px;
    margin-bottom: 17px;

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .form__send-wrapper {
    margin-top: -5px;
  }

  .form__btn {
    min-width: 568px;
    margin-right: 82px;
    letter-spacing: 0.2px;
  }
}
