.form-list {
  @include reset-list;
}

.form-list__item {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .form-list__item {
    margin-bottom: 0;
  }
}
