.header {
  border-bottom: 1px solid $border-color--light;
}

.header__inner {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: block;
  margin-top: 12px;
  margin-bottom: 11px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__logo-image {
  width: 191px;
  height: 39px;
}

.header__toggle {
  width: 25px;
  height: 19px;
  border: none;
  background: url("../img/icon-mobile-menu.svg");

  &--closed {
    width: 19px;
    height: 19px;
    background: url("../img/icon-close.svg");
  }
}

@media (max-width: $mobile-width-only) {
  .header__toggle {
    &--nojs {
      display: none;
    }

    &--closed {
      margin-right: 2px;
    }
  }
}

@media (min-width: $tablet-width) {
  .header {
    border: none;
  }

  .header__wrapper {
    @include container--tablet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 4px;
  }

  .header__inner {
    @include container-reset;
  }

  .header__logo {
    margin: 0;
    margin-right: 89px;
  }

  .header__logo-image {
    min-width: 174px;
    height: 59px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    &--big-bg::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 696px;
      background-color: #5eaa2f;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      z-index: -1;
    }
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .header {
      &--big-bg::before {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }

  .header__wrapper {
    @include container--desktop;
    align-items: flex-start;
    margin-top: 0;
    margin-bottom: 16px;
    padding-top: 54px;
  }

  .header__logo-image {
    width: 203px;
    height: 60px;
  }
}
