.main-btn {
  display: block;
  padding-top: 12px;
  padding-bottom: 10px;
  width: 100%;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: $text-color--dark-side;
  background-color: $btn-color;

  &:hover {
    background-color: $btn-color--hover;
  }

  &:active {
    color: $btn-color--active;
  }

  &--gray {
    background-color: $btn-color--gray;
    color: $text-color;
  }

  &--gray:hover {
    background-color: $btn-color--gray-hover;
  }

  &--gray:active {
    color: $btn-color--gray-active;
  }
}

@media (min-width: $tablet-width) {
  .main-btn {
    padding-top: 11px;
    padding-bottom: 9px;
    line-height: 20px;
  }
}
