.main-nav__toggle {
  width: 25px;
  height: 19px;
  border: none;
  background: url("../img/icon-mobile-menu.svg");

  &--active {
    width: 19px;
    height: 19px;
    background: url("../img/icon-close.svg");
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 100%;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: auto;
  }
}
