.main-nav__toggle {
  width: 25px;
  height: 19px;
  border: none;
  background: url("../img/icon-mobile-menu.svg");

  &--active {
    width: 19px;
    height: 19px;
    background: url("../img/icon-close.svg");
  }
}
