.product {
  @include container;
}

.product__content-wrapper {
  display: flex;
  justify-content: space-between;
}

.product__feed-image {
  display: block;
  width: 140px;
  height: 144px;
  margin-top: -21px;
}

.product__link {
  text-decoration: none;
  color: $text-color--light-side;
}

.product__info-wrapper {
  flex-grow: 1;
}

.product__feed-title {
  margin: 0;
  margin-bottom: 12px;
  max-width: 78px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  &--center {
    max-width: 100%;
    margin-bottom: 7px;
    text-align: center;
  }
}

.product__btn {
  font-size: 16px;
}

.product__ico {
  display: block;
  width: 31px;
  height: 31px;
  margin-top: 4px;
  margin-right: auto;
  margin-bottom: 23px;
  margin-left: auto;
  opacity: 0.2;
}

.product__text {
  text-align: center;
  margin-bottom: 20px;
  font-size: 12px;
}

@media (min-width: $tablet-width) {
  .product {
    @include container-reset;
    min-width: 324px;
    width: 100%;
    min-height: 431px;
    padding-right: 36px;
    padding-bottom: 40px;
    padding-left: 38px;
    background-color: $background-color;

    &--white {
      border: 1px solid $border-color;
      background-color: $background-color--clean;
    }
  }

  .product__content-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .product__feed-image {
    width: 161px;
    height: 172px;
    margin-top: -46px;
    margin-bottom: 37px;

    &--big {
      width: 195px;
      height: 208px;
      margin-top: -82px;
    }
  }

  .product__info-wrapper {
    align-self: flex-start;
    width: 100%;
  }

  .product__feed-title {
    max-width: 140px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    font-size: 20px;
    text-align: center;

    &--center {
      margin-bottom: 25px;
    }
  }

  .product__ico {
    width: 61px;
    height: 61px;
    margin-top: 55px;
    margin-bottom: 49px;
  }

  .product__text {
    max-width: 170px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 85px;
    line-height: normal;
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .product {
    min-width: auto;
    width: 245px;
    padding-right: 37px;
  }

  .product__btn {
    padding-bottom: 10px;
    line-height: 19px;
  }

  .product__ico {
    margin-bottom: 47px;
  }

  .product__text {
    margin-bottom: 86px;
  }
}
