.program {
  padding-top: 30px;
  padding-bottom: 34px;
}

.program__title {
  margin-bottom: 35px;
}

.program__text {
  margin-top: 0;
  margin-bottom: 39px;
  max-width: 226px;
  text-transform: uppercase;
}
