.social {
  @include reset-list;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 280px;
  padding: 18px 10px 18px 10px;
  border-top: 1px solid $border-color--dark;
  border-bottom: 1px solid $border-color--dark;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 27px;
  margin-right: 29px;

  &:nth-of-type(5n),
  &:last-of-type {
    margin-right: 0;
  }

  &:nth-of-type(n + 6) {
    margin-top: 15px;
  }

  &:hover .social__ico {
    fill: $ico-color--hover;
  }

  &:active .social__ico {
    opacity: 0.3;
  }
}

.social__ico {
  fill: $black--lighter;

  &--vkontakte {
    width: 22px;
    height: 12px;
  }

  &--instagram {
    width: 16px;
    height: 16px;
  }

  &--facebook {
    width: 10px;
    height: 19px;
  }
}

@media (min-width: $tablet-width) {
  .social {
    padding: 0;
    border: none;
    padding-right: 15px;
    padding-left: 15px;
  }

  .social__item {
    width: max-content;
    height: 30px;
    margin-right: 28px;
  }

  .social__ico {
    &--vkontakte {
      width: 30px;
      height: 16px;
    }

    &--instagram {
      width: 23px;
      height: 23px;
    }

    &--facebook {
      width: 14px;
      height: 28px;
    }
  }
}

@media (min-width: $desktop-width) {
  .social {
    max-width: 660px;
  }

  .social__item {
    width: 30px;
    height: 30px;
    margin-right: 22px;

    &:nth-of-type(5n) {
      margin-right: 22px;
    }

    &:nth-of-type(12n) {
      margin-right: 0;
    }

    &:nth-of-type(n + 6) {
      margin-top: 0;
    }

    &:nth-of-type(n + 13) {
      margin-top: 15px;
    }
  }
}
