.social {
  @include reset-list;
  padding-top: 19px;
  padding-bottom: 18px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 31px;
}

.social__item {
  width: 25px;
  height: 25px;
  background-color: black;
}

.social__ico--vkontakte {
  width: 22px;
  height: 12px;
}

.social__ico--instagram {
  width: 17px;
  height: 17px;
}

.social__ico--facebook {
  width: 10px;
  height: 19px;
}
