.special {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 65px;
  padding-bottom: 43px;
  background-color: $background-color--green-image;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.special__ico {
  width: 56px;
  height: 61px;
  margin-bottom: 56px;
}

.special__text {
  max-width: 165px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $text-color--dark-side;
  font-family: $arial;
}

@media (min-width: $tablet-width) {
  .special {
    flex-direction: row;
    justify-content: space-around;
    min-height: 200px;
    padding: 0;
  }

  .special__ico {
    margin-bottom: 0;
  }

  .special__text {
    margin-top: 10px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .special {
    flex-direction: column;
    justify-content: space-between;
    min-width: 245px;
    min-height: 100%;
  }

  .special__ico {
    margin-top: 65px;
  }

  .special__text {
    margin-bottom: 43px;
    margin-top: 0;
    text-align: center;
  }
}
