.special {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 65px;
  padding-bottom: 41px;
  background-color: $background-color--green-second;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.special__ico {
  width: 56px;
  height: 61px;
  margin-bottom: 61px;
}

.special__text {
  max-width: 165px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $text-color--dark-side;
  font-family: $arial;
}

@media (min-width: $tablet-width) {
  .special {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 200px;
    padding-top: 66px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .special {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .special__ico {
    margin-right: 95px;
    margin-bottom: 0;
  }

  .special__text {
    margin-top: 7px;
    margin-right: 29px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .special {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 245px;
    min-height: 100%;
    padding: 0;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .special {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .special__ico {
    margin-top: 68px;
    margin-right: 0;
  }

  .special__text {
    margin-top: 0;
    margin-right: 1px;
    margin-bottom: 42px;
    text-align: center;
  }
}
