.аdditional-product__title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.аdditional-product__cost {
  margin-bottom: 14px;
}
