.аdditional-product__title {
  margin-top: 0;
  margin-bottom: 9px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.аdditional-product__cost {
  margin-bottom: 12px;
}

.аdditional-product__btn {
  letter-spacing: 0.75px;
}

@media (min-width: $tablet-width) {
  .additional-product__info-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  .аdditional-product__title {
    font-size: 20px;
    line-height: 20px;
  }

  .аdditional-product__cost {
    margin-right: -3px;
  }

  .аdditional-product__btn {
    margin-left: -1px;
    letter-spacing: 0;
  }
}

@media (min-width: $desktop-width) {
  .аdditional-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 895px;
  }

  .additional-product__info-wrapper {
    max-width: 610px;
    width: 100%;
    margin-bottom: 0;
  }

  .аdditional-product__title {
    margin-bottom: 0;
  }

  .аdditional-product__cost {
    margin-bottom: 0;
  }

  .аdditional-product__btn {
    max-width: 245px;
    margin-top: -3px;
    margin-right: 2px;
  }
}
