
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

img {
  max-width: 100%;
  height: auto;
}
